[Desktop Entry]
Encoding=UTF-8
Name=OrangeCoin
Comment=OrangeCoin P2P Cryptocurrency
Comment[fr]=OrangeCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=OrangeCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/OrangeCoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/OrangeCoin128.png
MimeType=x-scheme-handler/OrangeCoin;
Categories=Office;
