#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_OrangeCoin
#build/OrangeCoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_OrangeCoin)

DEB_INSTALL_EXAMPLES_OrangeCoind += debian/examples/*
DEB_INSTALL_MANPAGES_OrangeCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix OrangeCoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f OrangeCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake OrangeCoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_OrangeCoin
	src/test_OrangeCoin

# Ensure wrapper is set executable
binary-post-install/OrangeCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/OrangeCoind
binary-post-install/OrangeCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/OrangeCoin-qt
